*{
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
  
a {
    text-decoration: none;
}


.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
.header{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    min-height: 75px;
    background: #222222;
    flex-direction: row;

}

.left__header{
    display: flex;
    gap: 41px;
    justify-content: center;
    align-items: center;
}
.right__header{
    display: flex;
    gap: 33px;
    justify-content: center;
    align-items: center;
}

.top{
    background-color: #F1E4E6;
    display: flex;
    background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.top__img{
    width: 50%;
}

.top__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
}
.top__h1{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform:uppercase;
}
.top__h2{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    font-style: normal;
}
.colortext{
    color: #F16D7F;
}

.offer{
    display: grid;
    padding-top: 65px;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
}
.offer__img2{
    grid-column:1/4 ;    
}

.products{
    padding-top: 96px;
    padding-bottom: 60px;

}

.featured{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
}
.txt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-bottom: 48px;
    padding-top: 6px;
    text-align: center;
}
.featured__items{
    display: grid;
    column-gap: 30px;
    row-gap: 25px;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: repeat(2, 1fr);   
    justify-items: stretch; 
    margin-bottom: 48px;
}
.f__item{
    background-color: #F8F8F8;
}
.f__h4{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #E84444;
padding-top: 24px;
padding-left: 16px;
}
.f__txt{
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
order: 1;
color: #5D5D5D;
padding-left: 16px;
padding-top: 16px;
}
.f__h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
}
.products__button{
    padding: 15px 39px 14px 39px;
    border: 1px solid #FF6A6A;
    background-color: #fff;    
    margin: 0 auto;
    display: block;
    
}

.bt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}