*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    height: 75px;
    background: #222222;
}
.left__header{
    display: flex;
    gap: 41px;
    padding-left: 231px;
    padding-top: 18px;
    padding-bottom: 19px;
}
.right__header{
    display: flex;
    gap: 33px;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-right: 240px;
}

.top{
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 63px;
}
.top_message{
    display: flex;
    gap: 16px;
}
.top__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.top__h1{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform:uppercase;
}
.top__h2{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    font-style: normal;
}
.colortext{
    color: #F16D7F;
}

.offer{
    display: grid;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 65px;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);   
    justify-items: stretch;
}
.offer__img2{
    grid-column:1/4 ;
    grid-row: 2/3;
}

.products{
    padding-top: 96px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.featured{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.txt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-bottom: 48px;
    padding-top: 6px;
}
.featured__items{
    display: grid;
    column-gap: 30px;
    row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);   
    justify-items: stretch; 
}
.f__item{
    background-color: #F8F8F8;
}
.f__h4{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #E84444;
padding-top: 24px;
padding-left: 16px;
}
.f__txt{
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
order: 1;
color: #5D5D5D;
padding-left: 16px;
padding-top: 16px;
}
.f__h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
}
.products__button{
    margin-top: 48px;
    margin-bottom: 60px;
    padding: 15px 39px 14px 39px;
    border: 1px solid #FF6A6A;
    background-color: #fff;    
}

.bt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}